body {
    background: khaki;
    font-family: Arial, sans-serif;
    border-style: solid;
}

h1{
    color: darkgreen;
    text-align: center;
}

h2{
    color:darkgreen;
    font-family: "Papyrus", monospace;


}