body {
    background:darkgreen;
    font-family: Arial, sans-serif;
    border-style: solid;
}

h1{
    color: whitesmoke;
    text-align: center;
}

h2{
    color:whitesmoke;
    font-family: "Papyrus", monospace;


}
h3{
    color:whitesmoke;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; }
  
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}