body {
    background:darkgreen;
    font-family: Arial, sans-serif;
    border-style: solid;
}

h1{
    color: whitesmoke;
    text-align: center;
}

h2{
    color:whitesmoke;
    font-family: "Papyrus", monospace;


}
h3{
    color:whitesmoke;

}